@{
    ViewData["Title"] = "Shipped";
}

<h2>จัดส่งแล้ว</h2>

<div class="container">

    <div class="row">
        <div class="col">
            <table class="table table-responsive table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th class="text-center" style="width:150px;">รายการสินค้า</th>
                        <th class="text-center" style="width:100px;">#</th>
                        <th class="text-center" style="width:200px;">Order NO.</th>
                        <th class="text-center" style="width:200px;">Order Date</th>
                        <th class="text-center" style="width:300px;">สถานที่จัดส่ง</th>
                        <th class="text-center" style="width:200px;">Pick Up Date</th>
                        <th class="text-center" style="width:200px;">สถานะ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">
                            <button class="btn btn-info" data-toggle="modal" data-target="#exampleModal">ดู</button>
                        </td>
                        <td class="text-center">1</td>
                        <td>21082300001</td>
                        <td>20-08-21 08:00</td>
                        <td>Location A</td>
                        <td>20-08-21 09:10</td>
                        <td class="text-center">
                            <span class="badge badge-success">รับสินค้าแล้ว</span>
                        </td>


                    </tr>
                    <tr>
                        <td class="text-center">
                            <button class="btn btn-info" data-toggle="modal" data-target="#exampleModal">ดู</button>
                        </td>
                        <td class="text-center">2</td>
                        <td>21082300001</td>
                        <td>26-08-21 08:30</td>
                        <td>Location A</td>
                        <td>26-08-21 11:00</td>
                        <td class="text-center">
                            <span class="badge badge-success">รับสินค้าแล้ว</span>
                        </td>


                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">รายการสินค้า</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <table class="table table-responsive table-bordered">
                                    <thead class="thead-dark">
                                        <tr>

                                            <th class="text-center" style="width:100px;">#</th>
                                            <th class="text-center" style="width:200px;">รหัสสินค้า</th>
                                            <th class="text-center" style="width:300px;">ชื่อสินค้า</th>
                                            <th class="text-center" style="width:100px;">จำนวน</th>
                                            <th class="text-center" style="width:200px;">ราคาต่อหน่วย</th>
                                            <th class="text-center" style="width:200px;">รวม</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>

                                            <td class="text-center">1</td>
                                            <td>0001</td>
                                            <td>ข้าวกระเพราไก่</td>
                                            <td class="text-center">
                                                1
                                            </td>
                                            <td class="text-right">40</td>
                                            <td class="text-right">40</td>
                                        </tr>
                                        <tr>

                                            <td class="text-center">2</td>
                                            <td>0002</td>
                                            <td>คะน้าหมูกรอบ</td>
                                            <td class="text-center">
                                                1
                                            </td>
                                            <td class="text-right">45</td>
                                            <td class="text-right">45</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
</div>