@{
    ViewData["Title"] = "Assign Task";
}

<p class="text-center"><h2>Assign Task</h2></p>


<div class="row">
    <div class="col-md-3 text-center">
        <img src="~/Images/robot.png" class="card-img-top imagerobot rounded-circle">
        <p><h4>Robot ID : 001</h4></p>
    </div>
    <div class="col-md-9 overflow-scroll">

        <div class="listbox">
            <p><input type="checkbox" /> Order Number : 21082300001</p>
            <p>Mobile No. : 0810554168</p>
            <p>สถานที่จัดส่ง : Location A</p>
        </div>

        <div class="listbox">
            <p><input type="checkbox" /> Order Number : 21082300002</p>
            <p>Mobile No. : 0810554167</p>
            <p>สถานที่จัดส่ง : Location B</p>
        </div>

        <div class="listbox">
            <p><input type="checkbox" /> Order Number : 21082300002</p>
            <p>Mobile No. : 0810554167</p>
            <p>สถานที่จัดส่ง : Location B</p>
        </div>

        <div class="listbox">
            <p><input type="checkbox" /> Order Number : 21082300002</p>
            <p>Mobile No. : 0810554167</p>
            <p>สถานที่จัดส่ง : Location B</p>
        </div>
        <div class="listbox">
            <p><input type="checkbox" /> Order Number : 21082300002</p>
            <p>Mobile No. : 0810554167</p>
            <p>สถานที่จัดส่ง : Location B</p>
        </div>


    </div>
</div>

<br />

<div class="row text-center">
    <div class="col">
        <button class="btn btn-success"> Submit </button>
    </div>
</div>
